<div class="row justify-content-sm-center">
  <div class="col-sm-12 search-outline">
    <div class="input-group">
      <input
        #searchInput
        type="text"
        class="form-control"
        placeholder="Search YouFind..."
        (input)="performSearch(searchInput.value)"
      />
      <div class="input-group-append">
        <button
          class="btn btn-search"
          type="button"
          id="button-addon"
          (click)="performSearch(searchInput.value)"
        >
          Search
        </button>
      </div>
    </div>
    <div
      class="search-results mb-2"
      [style.display]="showResults ? 'block' : 'none'"
    >
      <hr />
      <div
        class="search-results-container"
        *ngIf="results$ | loading | async as results"
      >
        <ng-template [ngIf]="results.loading || isSearching">
          <div class="results-message results-loading text-center text-muted">
            <div class="lds-ellipsis">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </ng-template>
        <ng-template [ngIf]="results.value">
          <app-results-item
            *ngFor="let person of results.value"
            [person]="person"
            [searching]="isSearching"
          ></app-results-item>
        </ng-template>
        <ng-template [ngIf]="results.noresults && !isSearching">
          <div class="results-message text-center text-muted">
            No results found for <em>{{ searchInput.value }}</em
            >.
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div
    class="tag-line text-muted pt-4"
    [style.display]="showResults ? 'none' : 'block'"
  >
    Autocompleting Fake Names since 2020!
  </div>
</div>
