<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
	<connectionStrings>
		<add
			name="YouFindDB"
			connectionString="data source=(localdb)\mssqllocaldb;AttachDbFilename=C:\work\dotnet\YouFind\YouFind\App_Data\YouFind.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
			providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>