<div class="person-profile row p-3">
  <div class="col-sm-4">
    <div class="profile-item pb-4">
      <div class="avatar">
        <img class="face" [src]="person.avatar" />
      </div>
    </div>
    <div class="profile-item">
      <address class="text-muted">
        {{ person.name }}<br />
        {{ person.address.addressLine1 }}<br />
        {{ person.address.city }}, {{ person.address.state }}
        {{ person.address.postalCode }}
      </address>
    </div>
    <div class="profile-item">
      <p class="text-muted"><strong>Age:</strong> {{ person.age }}</p>
    </div>

    <div class="proile-item profile-item-bottom">
      <a [routerLink]="['']" class="btn btn-link btn-connect">&larr; Go Back</a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="d-flex flex-column justify-content-between h-100">
      <div class="profile-item">
        <div class="profile-item profile-name">
          <h1 class="font-weight-light">{{ person.name }}</h1>
        </div>

        <div class="profile-item">
          <h5 class="text-muted font-bold"><strong>Interests:</strong></h5>
          <ul>
            <li class="text-muted" *ngFor="let i of person.interests">
              {{ i }}
            </li>
          </ul>
        </div>
      </div>

      <div class="profile-item profile-footer d-flex flex-row-reverse">
        <button disabled class="btn btn-link btn-connect">
          Connect with {{ person.name }} &rarr;
        </button>
      </div>
    </div>
  </div>
</div>
