@import "variables";

.search-results-item {
  &:hover {
    background: var(--light);
    cursor: pointer;

    .action-icon {
      path {
        fill: $you_brand_color;
      }
    }
  }

  &.searching {
    //background: var(--light);

    & * {
      color: var(--light);
      border-color: var(--light);
    }
  }
}

address {
  margin-bottom: 0px;
  font-weight: lighter;
  font-size: 0.8rem;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid $you_brand_color;
  background: var(--light);

  img.face {
    width: 37px;
    height: 37px;
    border-radius: 19px;
  }
}

.person-title {
  font-size: 1.3rem;
  line-height: 1.3rem;
}
.person-age {
  display: inline-block;
  font-size: 0.7rem;
}

.person-subtitle {
  font-size: 0.7rem;
}

.action-icon {
  path {
    fill: var(--gray);
  }
}
